# EditorConfig of home directory
# [https://editorconfig.org]

# declare top-most EditorConfig file
root = true

# set unix-style newlines and default indentation; set a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# set default charset; trim whitespace
[*.{bib,c,cc,cpp,cxx,cu,h,hh,hpp,ini,petsc,py,sh,tex}]
charset = utf-8
trim_trailing_whitespace = true

# C/C++, Bash, Tex
[*.{bib,c,cc,cpp,cu,h,hh,hpp,sh,tex}]
indent_style = space
indent_size = 2
max_line_length = 80

# Makefiles
[Makefile]
indent_style = tab
indent_size = 4

# Python
[*.{py}]
indent_style = space
indent_size = 4
max_line_length = 160

# Option files
[*.{ini,petsc}]
indent_style = space
indent_size = 2

