[submodule "sc"]
	path = sc
	url = https://github.com/cburstedde/libsc.git
	ignore = untracked
[submodule "p4est"]
	path = p4est
	url = https://github.com/cburstedde/p4est.git
	ignore = untracked
[submodule "nanoflann"]
	path = nanoflann
	url = https://github.com/jlblancoc/nanoflann
	ignore = untracked
[submodule "mangll"]
	path = mangll
	url = ../mangll.git
	ignore = untracked
[submodule "ymir"]
	path = ymir
	url = ../ymir.git
	ignore = untracked
[submodule "fet"]
	path = fet
	url = ../fet.git
	ignore = untracked
